@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,600;0,700;1,700&display=swap');
html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Schibsted Grotesk', sans-serif; 
    box-sizing: border-box;
}

body {
    display: flex;
    background:#09022f;
    color: #ededed;
    justify-content: center;
    
}

.header {
    position: fixed;
    display: inline-flex;
    padding: 20px 25%;
    width: 100%;
    background: rgb(9, 2, 47);
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
}

.logo {
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    font-size: 28px;
}


.nav a {
    color: #ededed;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    transition: 0.3s;
    margin-left: 20px;
    overflow: hidden;
}

.nav a:hover {
    color: rgb(55, 35, 167);
    transition: 0.3s;
}

.nav a .active {
    color: rgb(55, 35, 167);
}

.intro {
    position: relative;
    display: flex;
    width: 100%;
    height: 130vh;
    padding: 0 25%;
    padding-bottom: 90px;
    align-items: center;
    justify-content: center;
}
.first {
    height: 100vh;
}

.main-intro {
    max-width: 100%;
    position: relative;
    text-align: center;
    align-items: center;
}

.pic {
    position: relative;
    justify-content: center;
}

.pic img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}


.big-intro {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0;
    margin: 15px 0;
}

.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.main-intro .button {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.main-intro .button a {
    display: flex;
    height: 50px;
    width: 150px;
    background: rgb(55, 35, 167);
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #ededed;
    font-weight: 600;
    border-radius: 8px;
    color: #ededed;
    
}

.button a:hover {
    color:rgb(55, 35, 167);
    background: #ededed;
    transition: 0.5s;
}

.links {
    position: fixed;
    bottom: 40px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}



.links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ededed;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 100%;
    color: #ededed;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    font-size: 24px;
}

.links a:hover {
    color: rgb(55, 35, 167);
    border: 2px solid rgb(55, 35, 167);
    transition: 0.5s;
}

.contact {
    padding: 160px;
    height: 100vh;
    position: relative;
}

.contact .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.contact .title {
    font-size: 50px;
    font-weight: 700;
    margin: 15px 0;
}
  
  .form input,
  .form textarea,
  .form button {
    border-radius: 8px;
    width: 400px;
    height: 50px;
    margin: 20px;
    background: rgb(55, 35, 167);
    color: #ededed;
    border: 2px solid #ededed;
    padding-left: 10px;
  }
  
  .form button {
    margin: 25px;
    width: 200px;
    font-weight: 700;
  }

  .form button:hover {
    background: #ededed;
    color: #09022f;
    transition: 0.5s;
  }
  
  .form textarea {
    line-height: 50px;
  }
  

